DATABASE_URL="file:./dev.db"
AUTH_SECRET="replace-with-a-random-secret"
PRICE_SCRAPE_URLS="https://www.nicosuma.com/sell/smartphone/iphone/iphone-15-pro,https://www.nicosuma.com/sell/smartphone/iphone/iphone-14,https://www.nicosuma.com/sell/smartphone/pixel/pixel-7"
PRICE_SCRAPE_DELAY_MS="3000"
PRICE_CACHE_HOURS="24"
